<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/nosotros.css">
</head>

<body>
    <div class="hero-container">
        <div class="hero-body">
            <h1 class="hero-title">Mental Ress</h1>
            <h2 class="hero-txt">Equilibrio mental, retiros espirituales. Encuentra paz, nutre tu ser.</h2>
        </div>
    </div>

    <div class="menu-toggle" id="mobile-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="hamburger">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="">Ayuda</a></li>
            <li><a href="/templates/contacto.html">Contacto</a></li>
        </ul>
    </div>

    <header class="nav-container">
        <nav>
            <a class="nav-element" href="/index.html">Home</a>
            <a class="nav-element" href="">Ayuda</a>
            <a class="nav-element" href="/templates/contacto.html">Contacto</a>
        </nav>
    </header>

    <div class="intro-container">
        <p class="intro">
            En Mental Ress, nos dedicamos a la promoción del bienestar integral a través de la
            conexión mente-cuerpo-espíritu. Creemos firmemente en el poder transformador de cuidar nuestra
            salud mental y nutrir nuestro ser interior. Somos un equipo apasionado de profesionales de la
            salud mental, terapeutas holísticos y guías espirituales que se han unido con la misión de
            ofrecer un espacio seguro y acogedor para tu viaje hacia el equilibrio y la plenitud.
        </p>
    </div>

    <div class="main-container">
        <div class="txt-container txt-uno">
            <h2 class="txt-title mision">Nuestra Misión</h2>
            <p class="txt mision">
                En un mundo que a menudo nos exige estar en constante movimiento, en Mental Ress,
                nos esforzamos por ser un oasis de calma y autocuidado. Nuestra misión es proporcionar
                herramientas y recursos que fomenten la salud mental y el crecimiento espiritual. Creemos
                en la importancia de abordar las complejidades de la vida moderna desde una perspectiva
                holística, integrando prácticas terapéuticas basadas en la evidencia con enfoques
                espirituales que alimenten el alma.
            </p>
        </div>

        <div class="txt-container txt-dos">
            <h2 class="txt-title porque">¿Por qué elegirnos?</h2>
            <p class="txt porque">
                En Mental Ress, nos destacamos por nuestra atención personalizada y enfoque
                integral. Nuestro equipo de profesionales altamente capacitados está comprometido a
                acompañarte en cada paso de tu viaje, brindándote el apoyo necesario para superar
                desafíos, descubrir tu verdadero potencial y encontrar la paz interior.
            </p>
        </div>

        <div class="txt-container txt-tres">
            <h2 class="txt-title servicios">Nuestros Servicios</h2>
            <p class="txt servicios">
                Ofrecemos una gama diversa de servicios, desde sesiones individuales de terapia hasta
                retiros espirituales en entornos serenos y rejuvenecedores. Cada programa está diseñado
                cuidadosamente para abordar las necesidades únicas de cada individuo, proporcionando
                un espacio seguro para la reflexión, el crecimiento y la sanación. <br>
                En Mental Ress, creemos que la salud mental y el bienestar espiritual son
                fundamentales para vivir una vida plena y significativa. Únete a nosotros en este viaje
                hacia la autenticidad, la conexión y el florecimiento <br>
                ¡Te damos la bienvenida a Mental Ress, donde el cuidado de tu mente y espíritu
                es nuestra prioridad!
            </p>
        </div>
    </div>
    <script src="/scripts/index.js"></script>
</body>

</html>