@font-face {
    font-family: Mulish;
    src: url(/assets/fonts/Mulish/Mulish-Regular.ttf);
}

body {
    margin: 0 auto;
    font-family: Mulish;
}

#letra{
    width: 100px;
}

header {
    display: flex;
    flex-direction: row;
}


.hero-container {
    background: url(/assets/images/heroimage.svg) bottom/cover  ;
    padding: 20px;
    border-radius: 50px;
}

.intro-container{
    display: grid;
    align-items: center;
    height: 600px;
    grid-template-columns: 1fr 3fr;
    margin: 50px;
    overflow: hidden;
}
.salud-mental{
    width: 500px;
}

.intro-title{
    text-align: center;
}

.intro-bg{
    background-color: rgb(176, 107, 241);
    overflow: hidden;
    height: 90%;
    border-radius: 20px;
    clip-path: polygon(49% 13%, 100% 24%, 100% 100%, 0 100%, 0 24%);
}

.intro {
    height: 100%;
    font-size: 23px;
    text-align: justify;
    padding: 20px;
    margin-top: 100px;
}


.main-container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-title{
    font-size: 50px;
}

.txt-main-container {
    display: grid;
    margin: auto;
    margin-bottom: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    width: 1750px;
}


.txt {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 1s;
}

.txt:hover{
    cursor: pointer;
    transform:scale(1.02);
}

.txt-paisaje{
    position: absolute; 
    top: 10%;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.paisaje-btn{
    position: absolute; 
    bottom: 5%;
    right: 0%;
    color: white;
    background:none;
    border-radius: 20px;
    border: solid 2px rgb(249, 249, 249);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 15px;
}

#paisaje-uno {
    grid-row-start: 1;
    grid-row-end: 3;
}

#paisaje-cuatro {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#paisaje-seis {
    grid-column-start: 2;
    grid-column-end: 4;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#paisaje-seis {
    max-height: 400px;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(176, 107, 241);
    width: 97vw;
    padding: 20px;
    border-radius: 10px;
}


@media screen and (width < 1600px) {
    .txt-main-container {
        width: 1300px;
    }

    .main-container {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #paisaje-seis {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #paisaje-siete {
        grid-row-start: 2;
        grid-column-start: 3;
    }
}

@media screen and (width < 1300px) {
    .main-container {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .txt-main-container {
        width: 800px;
    }

    #paisaje-tres {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    #paisaje-cuatro {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 1;
    }

    #paisaje-cinco {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
    }

    #paisaje-siete {
        grid-row-start: 4;
        grid-column-start: 2;
    }
}

@media screen and (width < 600px) {
    .txt-main-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
        grid-template-rows: 1fr 1fr;
        width: 350px;
    }

}